body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container {
  text-align: center;
}

footer {
  text-align: right;
  margin-top: auto;
}

.logo-container {
  display: flex;
  justify-content: center; /* Align items horizontally at the center */
}

.logo-container a {
  margin-right: 10px; /* Adjust as needed for spacing between logos */
}

.logo-container a img {
  width: 150px; /* Set a fixed width */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Adjust as needed for spacing between logos */
}

.badge-container {
  display: flex;
  justify-content: center; /* Align items horizontally at the center */
}

.badge-container > div {
  margin-right: 10px; /* Adjust as needed for spacing between badges */
}
