body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container {
  text-align: center;
}

footer {
  text-align: right;
  margin-top: auto;
}

.logo-container {
  display: flex;
}

.logo-container a {
  margin-right: 10px; /* Adjust as needed for spacing between logos */
}
